<%- include('partials/header') %>

<div class="container auth-container">
  <div class="card auth-card">
    <h2>Welcome Back</h2>
    <p class="muted">Login to your account</p>

    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>

    <form method="POST">
      <label>Email or Registration Number</label>
      <input
        name="email"
        placeholder="Enter your email or reg no"
        required
      >

      <label>Password</label>
      <input
        name="password"
        type="password"
        placeholder="Enter your password"
        required
      >

      <button type="submit" class="full-btn">Login</button>
    </form>

    <p class="auth-footer">
      Don’t have an account?
      <a href="/register">Register</a>
    </p>
  </div>
</div>

<%- include('partials/footer') %>
